# this file contains the plugin configuration for the GMAF framework
# each line represents a class name, which has to implement the interface de.swa.gmaf.FeatureVectorPlugin
# empty lines or lines with comments are ignored
# make sure, your plugin and the required classes are contained in the classpath when running GMAF
#
# Stefan Wagenpfeil, Feb 2023

# handles EXIF metadata
de.swa.gmaf.plugin.ExifHandler

# plugins based on Google Vision API
de.swa.gmaf.plugin.googlevision.LabelDetection

# other plugins
de.swa.gmaf.plugin.Mpeg7Import

# plugins for RSS and text detection
de.swa.gmaf.plugin.text.BagOfWordsDetection
